# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods — 只忽略 Pods 目录，保留 Podfile.lock 和 .xcworkspace
Pods/

# macOS
.DS_Store

# Swift Package Manager
.build/
